<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.HospitalMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Hospital">
        <result column="id" property="id"/>
        <result column="hospital_name" property="hospitalName"/>
        <result column="hospital_contact" property="hospitalContact"/>
        <result column="hospital_level" property="hospitalLevel"/>
        <result column="hospital_branch_type" property="hospitalBranchType"/>
        <result column="hospital_introduction" property="hospitalIntroduction"/>
        <result column="hospital_parent_id" property="hospitalParentId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        hospital_name,
        hospital_contact,
        hospital_level,
        hospital_branch_type,
        hospital_introduction,
        hospital_parent_id
    </sql>
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.example.demo.entity.Hospital">
        INSERT INTO hospital
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != id and '' != id">
                id,
            </if>
            <if test="null != hospitalName and '' != hospitalName">
                hospital_name,
            </if>
            <if test="null != hospitalContact and '' != hospitalContact">
                hospital_contact,
            </if>
            <if test="null != hospitalLevel and '' != hospitalLevel">
                hospital_level,
            </if>
            <if test="null != hospitalBranchType and '' != hospitalBranchType">
                hospital_branch_type,
            </if>
            <if test="null != hospitalIntroduction and '' != hospitalIntroduction">
                hospital_introduction,
            </if>
            <if test="null != hospitalParentId and '' != hospitalParentId">
                hospital_parent_id
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="null != id and '' != id">
                #{id},
            </if>
            <if test="null != hospitalName and '' != hospitalName">
                #{hospitalName},
            </if>
            <if test="null != hospitalContact and '' != hospitalContact">
                #{hospitalContact},
            </if>
            <if test="null != hospitalLevel and '' != hospitalLevel">
                #{hospitalLevel},
            </if>
            <if test="null != hospitalBranchType and '' != hospitalBranchType">
                #{hospitalBranchType},
            </if>
            <if test="null != hospitalIntroduction and '' != hospitalIntroduction">
                #{hospitalIntroduction},
            </if>
            <if test="null != hospitalParentId and '' != hospitalParentId">
                #{hospitalParentId}
            </if>
        </trim>
    </insert>
    <select id="getById" resultType="com.example.demo.entity.Hospital">
        SELECT <include refid="Base_Column_List"/>
        FROM hospital
        WHERE id = #{id};
    </select>
    <select id="pageList" resultType="com.example.demo.entity.Hospital">
        SELECT <include refid="Base_Column_List"/>
        FROM hospital
        <where>
            <if test="null != q.id">
                AND id=#{q.id}
            </if>
            <if test="q.hospitalName != null and q.hospitalName != ''">
                AND hospital_name=#{q.hospitalName}
            </if>
            <if test="q.hospitalContact != null and q.hospitalContact != ''">
                AND hospital_contact=#{q.hospitalContact}
            </if>
            <if test="q.hospitalLevel != null">
                AND hospital_level=#{q.hospitalLevel}
            </if>
            <if test="q.hospitalBranchType != null">
                AND hospital_branch_type=#{hospitalBranchType}
            </if>
            <if test="q.hospitalIntroduction != null and q.hospitalIntroduction != ''">
                AND hospital_introduction=#{q.hospitalIntroduction}
            </if>
            <if test="q.hospitalParentId != null">
                AND hospital_parent_id=#{q.hospitalParentId}
            </if>
        </where>
        LIMIT #{p.offset}, #{p.pageSize}
    </select>
    <select id="list" resultType="com.example.demo.entity.Hospital"
            parameterType="com.example.demo.entity.Hospital">
        SELECT <include refid="Base_Column_List"/>
        FROM hospital
        <where>
            <if test="null != id and '' != id">
                AND id=#{id}
            </if>
            <if test="hospitalName != null and hospitalName != ''">
                AND hospital_name=#{hospitalName}
            </if>
            <if test="hospitalContact != null and hospitalContact != ''">
                AND hospital_contact=#{hospitalContact}
            </if>
            <if test="hospitalLevel != null and hospitalLevel != ''">
                AND hospital_level=#{hospitalLevel}
            </if>
            <if test="hospitalBranchType != null and hospitalBranchType != ''">
                AND hospital_branch_type=#{hospitalBranchType}
            </if>
            <if test="hospitalIntroduction != null and hospitalIntroduction != ''">
                AND hospital_introduction=#{hospitalIntroduction}
            </if>
            <if test="hospitalParentId != null and hospitalParentId != ''">
                AND hospital_parent_id=#{hospitalParentId}
            </if>
        </where>
    </select>
    <select id="countList" resultType="java.lang.Integer" parameterType="com.example.demo.entity.Department">
        SELECT count(1)
        FROM hospital
        <where>
            <if test="null != id and '' != id">
                AND id=#{id}
            </if>
            <if test="hospitalName != null and hospitalName != ''">
                AND hospital_name=#{hospitalName}
            </if>
            <if test="hospitalContact != null and hospitalContact != ''">
                AND hospital_contact=#{hospitalContact}
            </if>
            <if test="hospitalLevel != null and hospitalLevel != ''">
                AND hospital_level=#{hospitalLevel}
            </if>
            <if test="hospitalBranchType != null and hospitalBranchType != ''">
                AND hospital_branch_type=#{hospitalBranchType}
            </if>
            <if test="hospitalIntroduction != null and hospitalIntroduction != ''">
                AND hospital_introduction=#{hospitalIntroduction}
            </if>
            <if test="hospitalParentId != null and hospitalParentId != ''">
                AND hospital_parent_id=#{hospitalParentId}
            </if>
        </where>
    </select>
    <select id="getOne" resultType="com.example.demo.entity.Hospital"
            parameterType="com.example.demo.entity.Department">
        SELECT <include refid="Base_Column_List"/>
        FROM hospital
        <where>
            <if test="null != id and '' != id">
                AND id=#{id}
            </if>
            <if test="hospitalName != null and hospitalName != ''">
                AND hospital_name=#{hospitalName}
            </if>
            <if test="hospitalContact != null and hospitalContact != ''">
                AND hospital_contact=#{hospitalContact}
            </if>
            <if test="hospitalLevel != null and hospitalLevel != ''">
                AND hospital_level=#{hospitalLevel}
            </if>
            <if test="hospitalBranchType != null and hospitalBranchType != ''">
                AND hospital_branch_type=#{hospitalBranchType}
            </if>
            <if test="hospitalIntroduction != null and hospitalIntroduction != ''">
                AND hospital_introduction=#{hospitalIntroduction}
            </if>
            <if test="hospitalParentId != null and hospitalParentId != ''">
                AND hospital_parent_id=#{hospitalParentId}
            </if>
        </where>
        LIMIT 1
    </select>
    <update id="update" parameterType="com.example.demo.entity.Hospital">
        UPDATE hospital
        <set>
            <if test="null != id and '' != id">id=#{id},</if>
            <if test="null != hospitalName and '' != hospitalName">hospital_name=#{hospitalName},</if>
            <if test="null != hospitalContact and '' != hospitalContact">hospital_contact=#{hospitalContact},</if>
            <if test="null != hospitalLevel and '' != hospitalLevel">hospital_level=#{hospitalLevel},</if>
            <if test="null != hospitalBranchType and '' != hospitalBranchType">hospital_branch_type=#{hospitalBranchType},</if>
            <if test="null != hospitalIntroduction and '' != hospitalIntroduction">hospital_introduction=#{hospitalIntroduction},</if>
            <if test="null != hospitalParentId and '' != hospitalParentId">hospital_parent_id=#{hospitalParentId},</if>
        </set>
        WHERE id = #{id};
    </update>
    <delete id="removeById">
        DELETE
        FROM department
        WHERE id = #{id};
    </delete>

</mapper>